# Project 14: Importing & Merging many files (Baby Names Dataset) - Part 2

## Getting the Files from the Web

1. __Go__ to https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-data-by-state-and-district-of- and __download__ and __unzip__ the file.

## Importing one File & Understanding the Data Structure

2. __Loading__ the file __"AK.txt"__ into Pandas and __inspect__.

In [4]:
import pandas as pd
df_test = pd.read_csv('AK.TXT', header = None, names = ['State', 'Gender', 'Year', 'Name', 'Count'])
df_test

      State Gender  Year      Name  Count
0        AK      F  1910      Mary     14
1        AK      F  1910     Annie     12
2        AK      F  1910      Anna     10
3        AK      F  1910  Margaret      8
4        AK      F  1910     Helen      7
...     ...    ...   ...       ...    ...
28523    AK      M  2018      Theo      5
28524    AK      M  2018    Thorin      5
28525    AK      M  2018   Trenton      5
28526    AK      M  2018    Victor      5
28527    AK      M  2018      Zion      5

[28528 rows x 5 columns]

## The glob module

In [5]:
from glob import glob

filenames = glob('*.TXT')
len(filenames)

51

In [6]:
dataframes = []
for name in filenames:
    df = pd.read_csv(name, header = None, names = ['State', 'Gender', 'Year', 'Name', 'Count'])
    dataframes.append(df)

In [7]:
len(dataframes)

51

In [9]:
df = pd.concat(dataframes, ignore_index = True)

df.head()

  State Gender  Year      Name  Count
0    AK      F  1910      Mary     14
1    AK      F  1910     Annie     12
2    AK      F  1910      Anna     10
3    AK      F  1910  Margaret      8
4    AK      F  1910     Helen      7

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6028151 entries, 0 to 6028150
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   State   object
 1   Gender  object
 2   Year    int64
 3   Name    object
 4   Count   int64
dtypes: int64(2), object(3)
memory usage: 230.0+ MB

In [11]:
#To csv
df.to_csv('baby_names_state.csv', index=False)